/* 
Website: My programming asite v.1
Author: BARBARA MARCOLINI
*/

body{
	background: #3C487F;
	
}

h1{
	color: white;
	font-family: 'Futura','Trebuchet MS', Arial, sans-serif;
	font-size: 40px;
	text-align: center;
}
h1:hover{
	color:magenta;
} 

p{
	color: #A1CBFF;
	font-family: 'Cambria', Georgia, serif;
	font-size: 25px;
	line-height: 30px

}

hr{
	border-color: black;
}

#content{
	width: 600px;
	border-width: 2px;
	border-color: black;
	border-style: solid;
	background-color: gray;
	margin:0 auto;
}